<!DOCTYPE html>
<html lang = "en">
<head>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div "container-fluid d-flex justify-content-center align-items-center vh-100">
        <h4>Add Category</h4>
        <p>Please fill in category details and click submit</p>
    
       
            <form action="/add-category.html" method="POST">
                Name:
                <input type="text" name="name" /> </br>
                Description:
                <input type="text" name="description" /> </br>
                Image:
                <input text="text" name="image" /> </br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    
   
</body>

</html>