<html>
    <body>
        <form action="/sidd/event/add" method="post">
            Name <input type="text" name="eventName" placeholder="Enter event name"/>
			<br />
			Description <input type="text" name="eventDescription" />
			<br />
			Image <input type="text" name="eventImage" placeholder="Enter static resource path"/>
			<br />
            Start Date Time <input type="datetime-local" name="eventStartTime" />
			<br />
			Duration In Minutes <input type="number" name="eventDuration" placeholder="Enter duration in minutes"/>
			<br />
            Is Active <input type="checkbox" name="eventActive" />
            <br />
            Capacity <input type="number" name="eventCapacity" placeholder="Enter capacity"/>
			<br />
            Tickets available <input type="number" name="eventAvailableTickets" placeholder="Tickets Available (optional)"/>
            <br />
            Category ID <input type="text" name="categoryID" placeholder="Enter category id"/>
            <br />
			<button type="submit" name="submit">Submit</button>
        </form>
    </body>
</html>