<!DOCTYPE html>
<html lang = "en">
    <head>

        <link href="/bootstrap.min.css" rel="stylesheet" />

        </style>  
    </head>
    <body>
        <img src="/Appbanner.png" alt="events" style="width: 100%; height: auto;">

        <div class="container">
            <h2>Missing query parameter "id"</h2>
            <p>Cannot find event with ID: undefined</p>  
            
                    <br />
                </div>                  
        </div>
        <div class="buttons-contain">
            <a href="/" class="btn btn-primary" role="button">Back to Home Page</a>
           
        </div>
    </body>
</html>