<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href="bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="container-fluid d-flex justify-content-center align-items-center vh-100" >
            
                <div>
                    <h2>Add Event</h2>
                    <p>Fill in event details and click submit</p>
                
                    
                </div>
        </div>
    </body>
</html>