<!DOCTYPE html>


    <head>
        <link href="bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="styles.css">
        
        <style>
            .oval-btn {
                border-radius: 50px;
                padding: 10px, 15px;
                margin: 5px;
            }
        </style>
        
    </head>


    <body>
        
            <div container-fluid d-flex flex-column justify-content-center align-items-center vh-100>
                <div class="text-center">
                    <h3>Admin Panel</h3>
                    <p>Task group 1 (Jade)</p>
                </div>
                
        
                <div class=" row justify-content-center">
                    <a href="/add-category.html" class="btn btn-primary">Add Category</a>
                    <a href="/list-all-category.html" class="btn btn-primary">List All Category</a>
                    <a href="/list-category-by-keyword.html" class="btn btn-primary">List Category by Keyword</a>
                    <a href="/show-event-details.html" class="btn btn-primary">Show Event Details</a>
                    <a href="/delete-category-by-ID.html" class="btn btn-primary">Delete Category by ID</a>
                </div>
            </div>
            
       
      
        
       
    </body>

   
    
    
</html>