<!DOCTYPE html>
<html Lang="en">

<head>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    
    <style>
        .table1 {
        text-align: center;
        width: 100%;
        border-collapse: seperate;
        border-spacing: 50px;
        }
        .table1 th, .table1 td {
            text-align: center;
            border: 1px solid rgba(201, 201, 201, 0.531);
            font-size: 14px;
            padding: 12px 35px;
        }
    </style>
            
    
    
</head>

<body>
    <h4>Categories List</h4>
</body>

<div class="table1">
    <table>
    <thead> 
        <tr> 
            <th>ID</th> 
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    </table>
</div>



</html>