

<!DOCTYPE html>
<html Lang="en">
    <head>

         <link href="bootstrap.min.css" rel="stylesheet" />
         <link rel="stylesheet" href="styles.css">
            
    </head>


    <body>
        <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <h4>Categories List</h4>

        <div class="table1">
            <table class="table">
            <thead class=""thread-dark> 
                <tr> 
                 <th scope="col" >ID</th>
                 <th scope="col" >name</th>
                 <th scope="col" >description</th>
                 <th scope="col" >image</th>
                 <th scope="col" >createdAt</th>
               
                </tr>
            </thead>
        
            <tbody>

                <tr>
                    <% for(let i=0;i <categories.length;i++){ %>
                <tr> 
                    <td><%= (i+1) %></td>
                    <td><%= categories[i].ID%></td>
                    <td><%= categories[i].name %></td>
                    <td><%= categories[i].description %></td>
                    <td><%= categories[i].image %> </td>
                    <td><%= categories[i].createdAt %> </td>
                    <td><button type="view" class="btn btn-primary">View</button></td>
                </tr>
                <% } %>
                </tr>
            </tbody>
            </table>
        </div>
        
    </div>
    </body>
    <!-- button to show category details -->
    


</html>