<!DOCTYPE html>
<html Lang="en">
    <head>
        <img src="/Appbanner.png" alt="events" style="width: 100%; height: auto;">

         <link href="bootstrap.min.css" rel="stylesheet" />
         <link rel="stylesheet" href="styles.css">
            
    </head>
    <body>
        <h2>Event List</h2>
        <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
            <div class="table1">
                <table class="table">
                    <thead class=""thread-dark> 
                        <tr> 
                            <th scope="col" >ID</th>
                            <th scope="col" >Name</th>
                            <th scope="col" >Start</th>
                            <th scope="col" >End</th>
                            <th scope="col" >Duration</th>
                            <th scope="col" >Is Active</th>
                            <th scope="col" >Image</th>
                            <th scope="col" >Capacity</th>
                            <th scope="col" >Tickets Available</th>
                            <th scope="col" >Category ID</th>
                            <th scope="col" >Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% for(let i=0;i<events.length;i++){ %>
                        <tr> 
                            <td><%= events[i].id %></td>
                            <td><%= events[i].name %></td>
                            <!-- Reformat start and end time -->
                            <td><%= events[i].startTimeFormatted %></td>
                            <td><%= events[i].endTimeFormatted %></td>
                            <td><%= events[i].duration %></td>
                            <!-- Find a way to make isActive a checkbox -->
                            <td><%= events[i].isActive %></td>
                            <td><%= events[i].image %></td>
                            <td><%= events[i].capacity %></td>
                            <td><%= events[i].availableTickets %></td>
                            <td><%= events[i].categoryID %></td>
                            <td>
                                <a href="/category/33306036/show-event-details?id=<%= events[i].id %>" class="btn btn-primary">Show Event Details</a>
                            </td>
                            
                        </tr>
                        <% } %>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>    
    </body>
</html>