

<!DOCTYPE html>
<html Lang="en">
    <head>

         <link href="bootstrap.min.css" rel="stylesheet" />
         <link rel="stylesheet" href="styles.css">
            
    </head>


    <body>

        <form action="/category/33306036/list-by-keyword" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Enter Keyword">
            </div>
        </form>

        <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
        <h4>Categories List</h4>

        <div class="table1">
            <table class="table">
            <thead class=""thread-dark> 
                <tr> 
                 <th scope="col" >ID</th>
                 <th scope="col" >Name</th>
                 <th scope="col" >Description</th>
                 <th scope="col" >Image</th>
                 <th scope="col" >Created At</th>
                 <th scope="col" >Actions</th>
               
                </tr>
            </thead>
        
            <tbody>
                <% for(let i=0;i <categories.length;i++){ %>
                <tr> 
                    
                    <td><%= categories[i].id %></td>
                    <td><%= categories[i].name %></td>
                    <td><%= categories[i].description %></td>
                    <td><%= categories[i].image %> </td>
                    <td><%= categories[i].createdAt.toISOString() %> </td>
                    <td><button  class="btn btn-primary">Show Category Details</button></td>
                </tr>
                <% } %>
                </tr>
            </tbody>
            </table>
        </div>
        
    </div>
    </body>
    
    


</html>