

<!DOCTYPE html>


<head>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    
</head>

<body>
    
    <img src="/EVENTS.png" alt="events">
     <h4>Events Page</h4>

     <table>
     <tr>
        <% for(let i=0;i<events.length;i++){ %>
    <tr> 

    <tbody>
        <tr>
            <td>Event ID:</td>
            <td><%= events[i].id %></td>
        </tr>

        <tr>
            <td>Name:</td>
            <td><%= events[i].name %></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><%= events[i].description %></td>
        </tr>
        <tr>
            <td>Start Date Time:</td>
            <td><%= events[i].startTime %></td>
        </tr>
        <tr>
            <td>End Date Time:</td>
            <td><%= events[i].endTime %></td>
        </tr>
        <tr>
            <td>Duration:</td>
            <td><%= events[i].duration %></td>
        </tr>
        <tr>
            <td>Is Active:</td>
            <td><%= events[i].isActive %></td>
        </tr>
        <tr>
            <td>Capacity:</td>
            <td><%= events[i].capacity %></td>
        </tr>
        <tr>
            <td>Tickets Available:</td>
            <td><%= events[i].availableTickets %></td>
        </tr>
        <tr>
            <td>Category ID:</td>
            <td><%= events[i].categoryID %></td>
        
    </tr>
    <% } %>
    </tr>
    </tbody>

  
           
            
</table>
</body>

</html>

<!-- 
<p>Event ID:</p> 
<p>Name:</p> 
<p>Description:</p> 
<p>Start Date Time:</p> 
<p>End Date Time:</p> 
<p>Duration:</p> 
<p>Is Active:</p> 
<p>Capacity:</p> 
<p>Tickets Available:</p> 
<p>Category ID:</p> 

<tbody>
    <tr>
        <% for(let i=0;i<events.length;i++){ %>
    <tr> 
        <td><%= events[i].id %></td>
        <td><%= events[i].name %></td>
        <td><%= events[i].description %></td>
        <td><%= events[i].startTime %></td>
        <td><%= events[i].endTime %></td>
        <td><%= events[i].duration %></td>
        <td><%= events[i].isActive %></td>
        <td><%= events[i].capacity %></td>
        <td><%= events[i].availableTickets %></td>
        <td><%= events[i].categoryID %></td>
        
        
        <td><button type="view" class="btn btn-primary">View</button></td>
    </tr>
    <% } %>
    </tr>
</tbody>
 -->

