<!DOCTYPE html>
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <img src="/Categoryimg.png" alt="events" style="width: 100%; height: auto;">
        <h4><%= categories[index].name %></h4>

        <table>
            <tbody>   
                <tr>
                    <td>Category ID:</td>
                    <td><%= categories[index].id %></td>
                </tr>

                <tr>
                    <td>Name:</td>
                    <td><%= categories[index].name %></td>
                </tr>

                <tr>
                    <td>Description:</td>
                    <td><%= categories[index].description %></td>
                </tr>

                <tr>
                    <td>Created Date Time:</td>
                    <td><%= categories[index].createdAt %></td>
                </tr>
            </tbody>
        </table>

        <div class="table1">
            <table class="container m-3">
                <thead> 
                    <tr> 
                        <th scope="col" >ID</th>
                        <th scope="col" >Name</th>
                        <th scope="col" >Start</th>
                        <th scope="col" >End</th>
                        <th scope="col" >Duration</th>
                        <th scope="col" >Is Active</th>
                        <th scope="col" >Capacity</th>
                        <th scope="col" >Tickets Available</th>
                        <th scope="col" >Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0;i<events.length;i++){ %>
                        <% if(events[i].categoryID == categories[index].id){ %>
                            <tr> 
                                <td><%= events[i].id %></td>
                                <td><%= events[i].name %></td>
                                <td><%= events[i].startTimeFormatted %></td>
                                <td><%= events[i].endTimeFormatted %></td>
                                <td><%= events[i].duration %></td>
                                <td>
                                    <% if(events[i].isActive == "off") { %>
                                        <input type="checkbox" disabled="disabled">
                                    <% } else { %>
                                        <input type="checkbox" disabled="disabled" checked>
                                    <% } %>
                                </td>
                                <td><%= events[i].capacity %></td>
                                <td><%= events[i].availableTickets %></td>
                                <td>
                                    <a href="/category/33306036/show-event-details?id=<%= events[i].id %>" class="btn btn-primary">View</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>  
    </body>
</html>

