<!DOCTYPE html>
<html lang = "en">
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet" />
 
    </head>
    <body>
        <div class="container">
            <h2>Cannot show category details without entering a category</h2>
            <p>Make sure atleast one category exists before you try fetching a categories details</p>                    
        </div>
        <div class="buttons-contain">
            <a href="/" class="btn btn-primary" role="button">Back to Home Page</a>
        </div>
    </body>
</html>